@model ventaTickets.Models.Show

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1>Show</h1>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fecha)
        </dd>
        <dd class = "col-sm-10">
            <img src="@Html.DisplayFor(model => model.imagen)">
        </dd>
    </dl>  
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("VistaCompra", "Shows", new { id = @Model.showId })'">Comprar</button>
    </div>
</div>
<div>
    <ul>
    </ul>

      @if (User.IsInRole("Administrador"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.showId">Edit</a> 
    }
  
    <a asp-action="index2">Volver</a>
</div>
