@model ventaTickets.Models.Show

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Show</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imagen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imagen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantCampo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantCampo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precioCampo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precioCampo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantPlateaBaja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantPlateaBaja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precioPlateaBaja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precioPlateaBaja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantPlateaAlta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantPlateaAlta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precioPlateaAlta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precioPlateaAlta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.showId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
