@model ventaTickets.Models.Show

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Vista de compra</h1>

<div>
    <h4>Detalles</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.imagen)
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.imagen)">
        </dd>

       <form action="/Shows/Pago/" method="post">
            <select name="sector" class="form-sector" aria-label="Default select example" required>
                <option disabled selected value="">
                    Selecciona una opción
                </option>
                <option value="Campo">
                    Campo - $@Model.precioCampo
                </option>
                <option value="Platea Baja">
                    Platea Baja - $@Model.precioPlateaBaja
                </option>
                <option value="Platea Alta">
                    Platea Alta - $@Model.precioPlateaAlta
                </option>
            </select>

            <input name="cantidad"  type="number" class="form-control" min="1" max="5" required>
            <button type="submit" class="btn btn-success btn-lg">Confirmar compra</button>
            <input type="hidden" name="id" value="@Model.showId"/>
            
        </form>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.showId">Edit</a> |
    <a asp-action="index2">Volver a la Cartelera</a>
</div>
